[Unit]
Description=Git Cache Daemon

[Service]
Type=simple
User=1001
Group=1001
Environment=GIT_CONFIG_NOSYSTEM=true
Environment=GIT_CACHE_DIR=/cache/gitcache
ExecStart=/usr/local/bin/git-cache-daemon --update-barrier

[Install]
WantedBy=multi-user.target
